<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

  <TextInput
    placeholder="Email"
    autoCorrect={false}
    
  />
  <TextInput
   secureTextEntry={true}
    placeholder="Senha"
    autoCorrect={false}
    
  />

</body>
</html>